
/home/dablaze/AndroidStudioProjects/KSIH-Covid19-App/app/*
/home/dablaze/AndroidStudioProjects/KSIH-Covid19-App/.idea/*
/home/dablaze/AndroidStudioProjects/KSIH-Covid19-App/.idea/*
/home/dablaze/AndroidStudioProjects/KSIH-Covid19-App/.idea/*
